@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-ledger-bg: #EBF0E8;
  --color-forensic-black: #0A0A0A;
  --color-sec-red: #D32F2F;
  --color-paper-white: #F5F5F0;
  --color-card-bg: #FAF8F0;
  --color-buy-green: #2E7D32;
  --color-sell-red: #C62828;
  --color-dark-charcoal: #1A1A1A;

  --color-gaming-tint: #e6f0e6;

  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
  --font-data: "Courier Prime", monospace;
}

@layer base {
  body {
    background-color: var(--color-ledger-bg);
    color: var(--color-dark-charcoal);
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-mono);
    color: var(--color-forensic-black);
    text-transform: uppercase;
  }
}

